@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Otomanopee One", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.main-header {
  display: flex;
  background-image: url(assets/joel-filipe-QwoNAhbmLLo-unsplash.jpg);
  background-repeat: no-repeat;

  background-size: 100%;

  background-position: center;
  min-width: 300px;
  height: 12rem;
  align-items: center;
  justify-content: center;
  color: white;
}

.wrapper-navbar {
  display: flex;
  background-color: gray;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.wrapper-navbar a,
li {
  color: white;
  display: inline-block;
}

.iseng {
  padding-right: 200px;
}

.wrapper-navbar a:hover {
  transform: scale(1.5);
}

.logo {
  color: white;
}

.logo-quotes {
  color: white;
}

.nav-main a {
  text-decoration: none;
}
.nav-main img {
  height: 2rem;
}

/* MAIN */

main {
  background-color: grey;
}
.main-menu {
  height: 15rem;
  display: flex;
}

.quotes-main {
  display: flex;
  flex-grow: 1.2;
  justify-content: center;
  align-items: center;
}
.main-menu aside {
  display: flex;
  justify-content: left;
  flex-grow: 1;
}

.nama-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: left;
}

.main-menu aside .about-main {
  background-color: aqua;
}

.foto-diri {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.foto-diri img {
  height: 70%;
}

.about-main {
  background-color: honeydew;
}

/*section */

.wrapper-main {
  background-color: aqua;
  text-align: center;
}

.section-about-main {
  display: grid;
  justify-items: center;

  text-align: center;
}

.section-about-main h1 {
  display: grid;
  grid-template-columns: 25rem;
}

.section-about-main article {
  display: grid;
  grid-template-columns: 60rem;
}

.section-about-main img {
  height: 25rem;
  width: 65rem;
}

.contenct-1 {
  display: grid;
  justify-items: center;
  align-items: center;
}
