@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
body {
  background-color: #f7dad9;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu-main {
  display: flex;
  background-color: #f38ba0;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}

.logo {
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;

  color: white;
}

.logo a:hover {
  color: yellow;
}

.list-menu {
  list-style-type: none;
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.menu-names {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.menu-names a {
  text-decoration: none;
  color: white;
}

.menu-names a:hover {
  color: yellow;
}

/* ANIMATION */
.logo:hover {
  transform: scale(1.5);
}

.list-menu :hover {
  transform: scale(1.5);
}

/* END ANIMATION */

/*              */

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 10px;
  column-gap: 10px;
}
.grid-item-main {
  display: grid;
  text-align: left;
}

.grid-item-sidebar {
  display: grid;
  align-items: center;
  text-align: center;
}
